{{!< default}} <section class="home-section">
  <p>Tinkerer, explorer, teh siew dai connoisseur.</p>

  <div class="indv-section">
    <h2>Build</h2>

    <h3>Startups</h3>
    <p>I am currently working full-time on building startups, preferably bootstrapped.</p>
    <ul>
      <li><a href="https://www.cotherapist.xyz/">CoTherapist</a>: a documentation assistant for clinical psychologists
        to
        turn clinical notes into assessment reports.</li>
    </ul>

    <h3>Side projects</h3>
    <ul>
      <li><a href="https://open.spotify.com/show/1H3lTwXqKKm9zrWd0nnqda?si=fed43f2057c84241">PyJamas Pillow Talk</a>: a
        podcast where I speak to interesting people. Check out
        the episodes on <a
          href="https://open.spotify.com/episode/16bKY2xzOz17MuGAdUlDcd?si=92e1d6484f4648e8">Transformers
          as the foundational AGI architecture</a> with John Yang,
        <a href="https://open.spotify.com/episode/6kAHJ3oIKYu8iSMsjHn9cY?si=4a27bea6b2b44fac">algorithmic mechanism
          design</a> with Yair Zick,
        and <a href="https://open.spotify.com/episode/0sVrFY5YJLDGsz4B1Nkn3n?si=1d05f090b8844115">building a social
          enterprise cafe</a> with Lim Wei Jie.
      </li>
      <li><a href="https://twitter.com/0xsingletonly/status/1534757758741778432">Crypto whitepaper threads</a>: I wrote
        a
        series of Twitter threads on crypto and their underlying mechanism.
        My <a href="https://twitter.com/0xsingletonly/status/1521469566429192193">breakdown of LUNA/UST</a> coincided
        with
        its collapse,
        while I also discussed how <a href="https://twitter.com/0xsingletonly/status/1535607794102964225">Circle/USDC
          could be the McDonald's of crypto</a>
        and explained <a href="https://twitter.com/0xsingletonly/status/1555901516627599362">Ethereum's scaling
          roadmap</a>.
      </li>
    </ul>
  </div>

  <div class="indv-section">
    <h2>Learn</h2>
    <p>I greatly enjoyed doing <a href="https://www.theodinproject.com">The Odin Project</a> and Fast AI's <a
        href="https://course.fast.ai/">Practical Deep Learning for Coders</a>.</p>

  </div>

  <div class="indv-section">
    <h2>Think</h2>
    <p>I keep an extensive list of books that I've read, and some of my favourites (in no particular order) are:</p>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/The_Years_of_Lyndon_Johnson">The Years of Lyndon Johnson</a> series by
        Robert Caro</li>
      <li><a
          href="https://zh.wikipedia.org/zh-sg/%E4%B8%89%E4%BD%93II%EF%BC%9A%E9%BB%91%E6%9A%97%E6%A3%AE%E6%9E%97">黑暗森林</a>
        by 劉慈欣</li>
      <li><a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/1455586692">Deep Work</a> by Cal
        Newport
      </li>
    </ul>
  </div>

  <div class="indv-section">
    <h2>Move</h2>
    <p>I am also a strong believer that being fit is a necessary component of being a man.</p>
    <p>I've run Starting Strength from December 2022 - June 2023.</p>
    <p>I am currently running Tactical Barbell Operator and Black Pro after finishing Basebuilding in August 2023.</p>
    <p>I am working on my front splits.</p>
    <p>I also practice acroyoga weekly.</p>
    <p>Lastly, I'll love to go on more mountaineering and surfing trips. But, a thing at a time. 🙂</p>
  </div>

  <div class="indv-section">
    <h2>Connect</h2>
    <ul>
      <li><a href="https://www.linkedin.com/in/poh-jie-813748159/">LinkedIn</a></li>
      <li><a href="https://twitter.com/0xsingletonly">Twitter</a></li>
      <li><a href="https://github.com/singletonly">GitHub</a></li>
    </ul>
  </div>

  </section>